.wrap {
  padding: 80px 70px;
  box-sizing: border-box;
  background-color: var(--ifm-background-color);
  max-width: var(--global-main-width);
  margin: 0 auto;

  overflow: hidden;
  .gTitle {
    font-size: 40px;
    font-weight: bold;
  }
  .listWrap {
    margin-top: 23px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 32px;
    a {
      width: 100%;
      .item {
        height: 100%;
        border: 1px solid var(--box-border-color); 
        box-sizing: border-box;
        padding: 35px 23px;
        border-radius: var(--normal-box-radius);
        cursor: pointer;
        margin-bottom: 0;
        &:hover {
          border: 1px solid var(--box-hover-border-color);
          background: var(--active-color);
          .title {
            color: var(--normal-text-color-1);
            a {
              &:hover {
                color: var(--normal-text-color-1);
              }
            }
          }
          .author {
            color: var(--sub-text-color-3);
            .portrait {
              border-color: var(--portrait-border-hover-color);
            }
          }
          .content {
            color: var(--normal-text-color-1);
          }
        }
        .title {
          font-size: 20px;
          font-weight: 500;
          line-height: 26px;
        }
        .author {
          color: var(--sub-text-color-2);
          line-height: 20px;
          margin-top: 19px;

          .portrait {
            width: 20px;
            height: 20px;
            border: 1px solid var(--portrait-border-color);
            border-radius: 50%;
            &:not(:last-of-type) {
              margin-right: 2px;
            }
          }

          &.singleAuthor {
            .nameLogo {
              display: flex;
              align-items: center;
            }
            .portrait {
              margin-right: 5px;
            }
          }
          &.multiAuthor {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1024px) {
    padding: 80px var(--mobile-padding-width);

    .listWrap {
      display: grid;
      grid-template-columns: auto auto;
      a {
        width: 100%;
      }
    }
  }
  @media screen and (max-width: 768px) {
    height: auto;
    padding: 0;
    margin-top: 40px;
    .gTitle {
      font-size: 30px;
      text-align: center;
    }
    .listWrap {
      padding: 0 var(--mobile-padding-width);
      grid-template-columns: auto;
      gap: 32px;

      .item {
        margin: 0 auto;
        width: 100%;
        height: auto;

        .title {
          font-size: 16px !important;
          line-height: 1 !important;
        }
        .author {
          line-height: 1 !important;
        }
      }
    }
  }
}
