html[data-theme="light"] {
  .wrap {
    .rect {
      background-color: #2a2c32;
      .title {
        color: #fff;
      }
      .content {
        color: rgba(266, 266, 266, 0.6);
        .textLink:hover {
          color: var(--active-color);
        }
      }
      .links {
        .item {
          fill: #fff;
          &:hover {
            fill: var(--active-color);
          }
        }
      }
    }
  }
}
.wrap {
  background-color: var(--normal-bg-1);
  overflow: hidden;
  padding-bottom: 36px;
  padding-top: 80px;
  padding: 80px 70px 36px;

  .rect {
    max-width: 1300px;
    height: 412px;
    background-color: var(--active-color);
    margin: 0 auto;
    border-radius: var(--normal-box-radius);
    text-align: center;
    overflow: hidden;
    padding: 0 23px;
    .title {
      font-weight: 700;
      font-size: 40px;
      line-height: 56px;
      color: var(--normal-text-color);
      margin-top: 79px;
    }
    .content {
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      line-height: 24px;
      color: rgba(0, 0, 0, 0.6);
      margin: 18px auto 45px;
      text-indent: 18px;
      .textLink {
        color: inherit;
      }
    }
    .links {
      width: 518px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      .item {
        fill: var(--normal-text-color-1);
        &:hover {
          fill: var(--hover-fill-color);
        }
      }
    }
  }
  @media screen and (max-width: 1024px) {
    height: auto;
    padding: 0 var(--mobile-padding-width);
    .rect {
      padding: 45px 0;
      margin: 0;
      width: 100%;
      height: auto;
      margin: 80px 0;
      .title {
        margin-top: 20px;
      }
      .content {
        width: 100%;
        padding: 0 26px;
      }
      .links {
        width: 100%;
        padding: 0 50px;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .rect {
      .title {
        font-size: 30px;
        line-height: 1;
      }
    }
  }
}
