html[data-theme="light"] {
  .main {
    &.mdxCard {
      .content {
        .bigText {
          color: #fff;
        }
        .smallText {
          color: rgba(255, 255, 255, 0.6);
        }
      }
    }
  }
}
.main {
  width: var(--global-main-width);
  margin: 0 auto;
  position: relative;

  .content {
    max-width: 949px;
    .bigText {
      max-width: 847px;
      font-weight: 700;
      margin-top: 12px;
      font-size: 32px;
      line-height: 40px;
      color: var(--title-text-color);
    }
    .smallText {
      font-size: 16px;
      line-height: 24px;
      color: var(--sub-text-color-2);
      margin-top: 20px;
    }
  }
}
