@keyframes light {
  0% {
    transform: translate(0) scale(1);
  }

  33% {
    transform: translate(30px, -20px) scale(1);
  }

  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }

  to {
    transform: translate(0, 0) scale(1);
  }
}
@keyframes light2 {
  0% {
    transform: translate(0) scale(1);
  }

  33% {
    transform: translate(-20px, 20px) scale(1.1);
  }

  66% {
    transform: translate(20px, -20px) scale(0.9);
  }

  to {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes light3 {
  0% {
    transform: translate(0) scale(1);
  }

  33% {
    transform: translate(0, 100px) scale(1.1);
  }

  66% {
    transform: translate(0, -100px) scale(0.9);
  }

  to {
    transform: translate(0, 0) scale(1);
  }
}
@keyframes light4 {
  0% {
    transform: translate(0) scale(1);
  }

  33% {
    transform: translate(0, 10px) scale(1);
  }

  66% {
    transform: translate(0, -10px) scale(1);
  }

  to {
    transform: translate(0, 0) scale(1);
  }
}
@keyframes smallTYKeyframe {
  0% {
    transform: translate(0) scale(1);
  }

  33% {
    transform: translate(0, 10px) scale(1.1);
  }

  66% {
    transform: translate(0, -10px) scale(0.9);
  }

  to {
    transform: translate(0, 0) scale(1);
  }
}
@keyframes scaleKeyframe {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.2);
  }

  to {
    transform: scale(0.8);
  }
}

.leftBox {
  position: absolute;
  left: -100px;
  bottom: -100px;
  width: 200px;
  height: 200px;
  border-radius: 30% 70% 0% 33% / 64% 70% 0% 36%;
  background-color: #ef9364;
  animation: 5s infinite light linear;
  box-shadow: 90px 90px 90px 90px #ef9364, 90px -90px 190px 90px #ef9364,
    -90px 90px 90px 190px #ef9364, -90px -90px 90px 100px #ef9364;
}

.rightBox {
  position: absolute;
  right: -120px;
  top: -150px;
  width: 200px;
  height: 200px;
  background-color: #8b7bcf;
  border-radius: 30% 70% 67% 13% / 44% 30% 70% 66%;
  animation: 5s infinite light2 linear;
  box-shadow: 90px 90px 90px 90px #8b7bcf, 90px -90px 90px 190px #8b7bcf,
    -90px 90px 90px 90px #8b7bcf, -90px -90px 90px 190px #8b7bcf;
}

.bannerContainer {
  position: relative;
  overflow: hidden;
  height: 867px;
  margin-top: -98px;
  background-color: var(--normal-bg-1);
  position: relative;
  background-image: url("/img/rectangle.png");
  background-size: 66.6px;
  &.lightMode {
    .leftBox {
      display: none;
    }
    .rightBox {
      display: none;
    }

    background-color: #fffafa;
    .btnWrap {
      span {
        &.more {
          color: #fff;
        }
      }
    }

    // left box
    .lbBox {
      position: absolute;
      width: 150px;
      height: 150px;
      background-color: rgba(250, 221, 169);
      bottom: 8%;
      left: 5%;
      border-radius: 50%;
      animation: scaleKeyframe 5s infinite linear;
    }

    .rbBox {
      position: absolute;
      right: 35%;

      .sBox {
        position: absolute;
        width: 322px;
        height: 322px;
        background-color: rgba(250, 221, 169);
        border-radius: 50%;
        z-index: 2;
        left: -350px;
        animation: 5s infinite light4 linear;
      }
      .xBox {
        position: absolute;
        width: 200px;
        height: 400px;
        background-color: rgb(255, 209, 126);
        border-radius: 50%;
        bottom: -500px;
        z-index: 1;
        box-shadow: 50px 40px 120px 250px rgb(255, 209, 126);
        animation: 5s infinite light3 linear;
      }
    }
    @media screen and (max-width: 1440px) {
      .rbBox {
        bottom: 100px;
        .sBox {
          width: 250px;
          height: 250px;
          left: -300px;
        }
        .xBox {
          width: 150px;
          height: 300px;
          bottom: -400px;
        }
      }
    }
    @media screen and (max-width: 768px) {
      .lbBox {
        width: 50px;
        height: 50px;
      }
      .rbBox {
        bottom: 42px;
        .sBox {
          width: 100px;
          height: 100px;
          left: -120px;
        }
        .xBox {
          width: 50px;
          height: 50px;
          bottom: -100px;
          box-shadow: 10px 10px 50px 100px rgb(255, 209, 126);
          animation-name: smallTYKeyframe;
        }
      }
    }
  }

  .content {
    max-width: var(--global-main-width);
    margin: 0 auto;
    width: 100%;
    position: relative;
  }
  .tipsWrap {
    margin-top: 183px;
    margin-left: 21%;

    .tips {
      min-width: 332px;
      height: 56px;
      line-height: 56px;
      border: 1px solid rgba(244, 134, 32, 1);
      border-radius: 52px;
      padding: 0 20px;
      font-weight: 400;
      font-size: 24px;
      display: inline-flex;
      align-items: center;
      img {
        margin-right: 10px;
      }
    }
  }

  .highText {
    margin-left: 21%;
    margin-top: 59px;
    .textWrap {
      font-weight: 700;
      font-size: 80px;
      line-height: 80px;

      .typewriterText {
        line-height: 100px;
        width: 690px;
        background: linear-gradient(
          269.74deg,
          #f3861f 12.97%,
          #b588b7 62.82%,
          #9f8ced 98.79%
        );
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .textDesc {
      font-size: 48px;
      color: var(--sub-text-color-2);
    }
  }

  .btnWrap {
    margin-top: 31px;
    margin-left: 21%;
    font-size: 14px;
    span {
      border-radius: 36px;
      padding: 10px;
      height: 44px;
      line-height: 24px;
      font-weight: 700;
      color: var(--home-btn-color);
      cursor: pointer;

      &.more {
        margin-right: 20px;
        background-color: var(--home-btn-bg);
      }
      &.hub {
        color: var(--home-btn-bg);
        border: 1px solid var(--home-btn-bg);
        box-sizing: border-box;
      }
    }
    a {
      text-decoration: none;
    }
  }
}
@media screen and (max-width: 1024px) {
  .leftBox {
    left: -150px;
    bottom: -150px;
    width: 80px;
    height: 80px;
    box-shadow: 90px -90px 120px 90px #ef9364, -90px 90px 120px 90px #ef9364;
  }
  .rightBox {
    right: -120px;
    top: -150px;
    width: 80px;
    height: 80px;
    background-color: #8b7bcf;
    border-radius: 30% 70% 67% 13% / 44% 30% 70% 66%;
    animation: 5s infinite light2 linear;
    box-shadow: -90px 90px 90px 90px #8b7bcf, -90px -90px 90px 190px #8b7bcf;
  }
  .bannerContainer {
    min-width: 100vw;
    height: auto;
    padding-bottom: 170px;
    .tipsWrap {
      margin-left: 0;
      text-align: center;
    }
    .highText {
      margin-left: 0;
      text-align: center;
      .textWrap {
        height: auto;
        .typewriterText {
          width: 100%;
        }
      }
      .textDesc {
        margin-top: 0;
      }
    }
    .btnWrap {
      width: 100%;
      text-align: center;
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .bannerContainer {
    padding-bottom: 100px !important;
  }
  .tipsWrap {
    margin-top: 150px !important;

    .tips {
      line-height: 30px;
      height: 40px !important;
      img {
        width: 30px;
      }
      span {
        font-size: 12px;
      }
    }
  }
  .textWrap {
    font-size: 40px !important;
    line-height: 40px !important;
  }
  .highText {
    margin-top: 20px !important;
  }
  .typewriterText {
    line-height: 60px !important;
    span {
      font-size: 40px;
    }
  }
  .textDesc {
    font-size: 30px !important;
  }
}
