.cardWrap {
  width: 980px;
  @media screen and (max-width: 1440px) {
    width: auto;
  }
  .title {
    font-size: 32px;
    font-weight: 700;
    line-height: 56px;
    // margin-top: 69px;
    margin-bottom: 32px;
  }
  // padding-bottom: 90px;
  padding-bottom: 129px;
}
