.breadcrumbs {
  display: flex;
  align-items: self-start;
  height: 21px;
  font-size: 13px;
  color: var(--sub-text-color-2);
  &.lightMode:not(&.mdxPage) {
    color: #000;
    svg {
      fill: #000 !important;
    }
    .line {
      opacity: 1;
    }
  }
  &.mdxPage {
    .backPath {
      color: #fff !important;
    }
    svg {
      fill: #fff !important;
    }
  }

  .backLogoA {
    position: relative;
    top: 1px;
    .backLogoSvg {
      fill: var(--back-home-logo-color);
    }
    &:hover {
      .backLogoSvg {
        fill: var(--active-color);
      }
    }
  }
  .line {
    opacity: 0.4;
    margin: 0 4px;
  }

  .path {
    span.leafPath {
      color: var(--active-color);
    }
    .backPath {
      text-decoration: none;
    }
  }
}
