.globalWidth {
  max-width: var(--global-main-width);
  margin: 0 auto;
  padding: 0 var(--mobile-padding-width);
  .mainContent {
    display: flex;
    .leftContent {
      max-width: 1050px;
      flex-basis: 1050px;
    }
    .rightContent {
      flex: 1;
      position: relative;
      .navLinkWrap {
        position: sticky;
        width: 196px;
        height: 203px;
        margin-left: 108px;
        margin-top: 51px;
        top: 130px;
      }
    }
  }
  @media screen and (max-width: 1440px) {
    .mainContent {
      .leftContent {
        width: 70%;
      }
      .rightContent {
        .navLinkWrap {
          margin-left: 40px;
        }
      }
    }
  }
  @media screen and (max-width: 1024px) {
    .rightContent {
      display: none;
    }
    @media screen and (max-width: 768px) {
      .leftContent {
        .codeContribution {
          display: grid;
          grid-template-columns: 1fr;
          gap: 32px;
        }
      }
    }
  }
}

.codeContribution {
  display: flex;
  margin-top: 32px;
  .firstPosition {
    margin-right: 20px;
  }
}

.highLight {
  color: var(--active-color);
  a {
    color: inherit;
  }
}
