.hero--primary {
    --ifm-hero-background-color: #fff;
    --ifm-hero-text-color: #000;
    --ifm-hero-text-primary-color: #000;
    --ifm-hero-logo-url: url("/img/cloudberrydb_color_black.svg");
  }
  
  html[data-theme="dark"] .hero--primary {
    --ifm-hero-background-color: var(--ifm-footer-background-color);
    --ifm-hero-text-color: #fff;
    --ifm-hero-text-primary-color: #ee8332;
    --ifm-hero-logo-url: url("/img/cloudberrydb_color_white.svg");
  }
  
  .hero__title {
    background-size: 100%;
    font-size: 2.2em;
    color: var(--ifm-hero-text-primary-color);
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
  }
  .hero__title .logo {
    display: inline-block;
    width: 420px;
    height: 100px;
    background-image: var(--ifm-hero-logo-url);
  }
  
  .hero__subtitle {
    font-size: 2em;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    color: #ee8332;
  }
  
  @media (max-width: 400px) {
    .hero__subtitle {
      font-size: 1.3em;
    }
  }
  
  #fblike {
    height: 20px;
  }
  #fblike,
  #twitter-widget-1 {
    margin-right: 20px;
  }